


 header{ width: 1000px;
     height: 142px;
     margin: auto;
 background-color:#96f5d3;}

 main{ 
    width: 1440px; height: 637px;
    background-color: #E5FD52;}

footer{ width: 1440px;
    height: 193px;
    background-color: #F5DB96;}
